@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Eczar&family=Montserrat:wght@800&display=swap");

//colors//
$primary: #000000;
$secondary: #ffffff;

//Typography//
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Eczar", serif;
  font-size: 1.18rem;
}

a {
  font-family: "Eczar", serif;
  font-size: 1.1rem;
}

/// All rows in Containers ///
.row {
  margin: 0;
}

////////////////media query for glowbal elements ////////////////
@media only screen and (max-width: 1172px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.1rem;
  }

  a {
    font-size: 0.9rem;
  }
}
@media (max-width: 570px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }

  a {
    font-size: 0.9rem;
  }
}

/////////                Navigation                       ////////////////////
.logo {
  width: 150px;
}

.nav {
  position: fixed;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  z-index: 4;
  background-color: $secondary;
}
.nav_gradient {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, red, 1%, #ffffff);
}

.mr-auto {
  position: absolute;
  right: 0px;
}

.active::after {
  content: "";
  display: block;
  border-radius: 20px;
  background-color: red;
  height: 2px;
  width: 50%;
  margin: 0 auto;
  transition: 0.5s;
}

.active:hover:after {
  content: "";
  display: block;
  width: 80%;
}

///////////////////// media query for navbar /////////////////////////
@media only screen and (max-width: 800px) {
  .mr-auto {
    position: relative;
    left: 0;
  }

  .active::after {
    visibility: hidden;
  }
}
@media (max-width: 570px) {
  .nav {
    width: 95%;
  }
}

////////////////      HomePage      ///////////////////
#home {
  width: 80%;
  margin: auto;
  position: relative;
  height: 95vh;
}

.homeTitle {
  position: relative;
  text-align: center;
  top: 50%;
}
@media (max-width: 570px) {
  #home {
    width: 95%;
  }
}

///////// About //////////////////

#about {
  width: 80%;
  margin: auto;
}

.img {
  width: 400px;
  float: right;
}

.about_Description {
  padding-right: 30px;
}
.about_Description p {
  margin-top: 2rem;
}

.strengths {
  padding: 2rem;
  text-align: center;
}
.strengths_Icons {
  float: left;
  font-size: 2.8rem;
  height: 100%;
  margin-right: 20px;
}
.strength_Names {
  padding-top: 10px;
}
.strength_Boxes {
  display: inline-block;
  border-radius: 10px;
  background-color: wheat;
  margin: 2rem;
  padding: 1rem;
  z-index: 1;
  text-align: left;
}
.box1 {
  background-color: wheat;
}
.box2 {
  background-color: #4592af;
}
.box3 {
  background-color: #ec823a;
}
@media (max-width: 570px) {
  #about {
    width: 95%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 960px) {
  .img {
    max-width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 1120px) {
  .strengths_Icons {
    font-size: 2rem;
    margin-right: 4px;
  }
  .strength_Boxes {
    margin: 0.2rem;
  }
}

/////// Products ////////////

#products {
  background-color: $primary;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  top: -80px;
  color: $secondary;
}

.product_Heading {
  width: 50%;
  margin: 2rem auto 0 auto;
  padding: 2rem 2rem 0 2rem;
}

.img2 {
  width: 200px;
  padding: 1rem;
  margin: 3rem 0;
}
@media (max-width: 570px) {
  #products {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .img2 {
    max-width: 100%;
    padding: 0.5rem;
    margin: 1.5rem 0;
  }
}
////////////////////   contacts ////////////////////
#contact {
  width: 60%;
  margin: auto;
}
.contact_Icons {
  font-size: 24px;
  margin: 10px;
  float: left;
}
.contact_links {
  font-family: "Eczar", serif;
  font-size: 1.18rem;
  color: $primary;
  text-decoration: none;
  display: inline-block;
}
iframe {
  border-radius: 10px;
  float: right;
}
hr {
  border: 1.5px solid grey;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  margin: 4rem;
}

@media (max-width: 800px) {
  #contact {
    width: 95%;
    margin: auto;
  }
  #contact h2 {
    // font-size: 2rem;
  }
  .contact_Icons {
    font-size: 18px;
    margin: 10px 10px 10px 0;
    float: left;
  }
  .contact_links {
    font-size: 1rem;
  }
  iframe {
    float: none;
  }
}
////////////////////  Footer    ////////////////////
#footer {
  width: 80%;
  margin: auto;
}
.footer_image {
  float: left;
  width: 200px;
}
.img_description {
  position: relative;
  left: 10px;
}
.img_description p {
  font-size: 1rem;
}
.footer_contacts {
  padding-left: 50px;
}
.footer_Icons {
  font-size: 1.2rem;
  margin: 10px;
  float: left;
}
.footer_links {
  font-family: "Eczar", serif;
  font-size: 1rem;
  color: $primary;
  text-decoration: none;
  display: inline-block;
}
.last_row {
  font-size: 0.9rem;
  margin-bottom: 0;
  padding: 1.5rem 0 0 1rem;

  display: inline-block;
}

.developer {
  float: right;
}
.developer a {
  font-size: 0.9rem;
}
@media (max-width: 570px) {
  #footer {
    width: 95%;
  }
}
@media (max-width: 1030px) {
  .footer_image {
    width: 180px;
  }
  .footer_contacts {
    padding-left: 10px;
  }
  .footer_col {
    margin-top: 1rem;
  }
  .last_row {
    font-size: 0.7rem;
    padding: 1.5rem 0 0 0.3rem;
  }
}
