@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Eczar&family=Montserrat:wght@800&display=swap");

//Typography//
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.75rem;
}
h3 {
  font-family: "Montserrat", sans-serif;
  // font-size: 3.75rem;
}
p {
  font-family: "Eczar", serif;
  font-size: 1.18rem;
}
a {
  font-family: "Eczar", serif;
  font-size: 1.1rem;
}

/// All rows in Containers ///
.row {
  margin: 0;
}

/////////                Navigation                       ////////////////////
.logo {
  font-family: "Alegreya", serif;
  font-size: 28px;
}
.nav {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
}
.mr-auto {
  position: absolute;
  right: 0px;
}

.active::after {
  content: "";
  display: block;
  border-radius: 20px;
  background-color: red;
  height: 2px;
  width: 50%;
  margin: 0 auto;
  transition: 0.5s;
}
.active:hover:after {
  content: "";
  display: block;
  width: 80%;
}

///////////////////// media query for navbar /////////////////////////
@media only screen and (max-width: 800px) {
  .mr-auto {
    position: relative;
    left: 0;
  }
  .active::after {
    visibility: hidden;
  }
}

////////////////      HomePage      ///////////////////
#home {
  width: 80%;
  margin: auto;
  position: relative;
  height: 80vh;
}
.homeTitle {
  position: relative;
  text-align: center;
  top: 50%;
}

///////// About //////////////////

#about {
  width: 80%;
  margin: auto;
}
.img {
  width: 400px;
  float: right;
}
.about_Description {
  padding-right: 30px;
}

.strengths {
  padding: 2rem;
  text-align: center;
}
.strength_Boxes {
  display: inline-block;
  background-color: yellowgreen;
  margin: 2rem;
  padding: 1rem;
  z-index: 1;
}

/////// Products ////////////

#products {
  background-color: #000000;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  top: -80px;
  color: white;
}
.product_Heading {
  width: 50%;
  margin: 2rem auto 0 auto;
  padding: 2rem 2rem 0 2rem;
}
.img2 {
  width: 200px;
  padding: 1rem;
  margin-top: 3rem;
}
